.navbarContainer{
    
    a{  text-decoration: none;  }

    .navbarWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    
        
        h1{
            font-size: 30px;
            color: black;
        }

        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;

            ul{
                display: flex;
                gap: 20px;
                // justify-content: space-between;
                list-style: none;
                
                li{
                    font-size: 18px;
                    font-weight: 600;
                    color: black;
                }
            }
            img{
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }
        
    }
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 999999999999;
    background: url("../../../images/bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.relative{
    position: relative;
}

// @media screen and (width <= 440px) {}
// @media screen and (width <= 620px) {}

@media screen and (width <= 440px) {
    .navbarContainer{
        .navbarWrapper{
            padding: 20px;
            h1{
                font-size: 22px;
                font-weight: 700;
            }
            nav{
                ul{
                    display: none;
                }
                img{
                    width: 23px;
                    height: 23px;
                }
            }
        }
    }
}
@media screen and (width <= 620px) {
    .navbarContainer{
        .navbarWrapper{
            h1{
                font-size: 26px;
                font-weight: 700;
            }
            nav{
                ul{
                    display: none;
                }
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}