.footerContainer{
    .footerWrapper{
        padding: 30px;
    
        display: flex;
        justify-content: space-between;

        .footerDetails{
            display: flex;
            justify-content: space-between;
            gap: 50px;
            .brandDetails{
                display: flex;
                flex-direction: column;
                width: 400px;
                gap: 20px;
                img{
                    width: 250px;
                    height: 150px;
                }
                p{
                    font-weight: 600;
                }
            }
            .siteLinks{
                width: 300px;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    list-style: none;
                    li{
                        font-weight: 600;
                    }
                }
            }
        }
        .footerAddress{
            width: 400px;
            
            p{
                font-weight: 600;
            }
        }
    }
}

@media screen and (width <= 440px) {
    .footerContainer{
        .footerWrapper{
            flex-direction: column;
            gap: 30px;
            .footerDetails{
                flex-direction: column;
                gap: 30px;
                .brandDetails{
                    width: 350px;
                }
            }

            .footerAddress{
                width: 350px;
            }
        }
    }
}
@media screen and (width <= 620px) {
    .footerContainer{
        .footerWrapper{
            flex-direction: column;
            gap: 30px;
        }
    }
}